body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 40px;
    background-color: rgb(189,223,222);
    line-height: 40px;
    text-align: center;

}

header img {
    width: 40px;
}

header a {
    display: inline-flex;
    height: 100%;
    text-decoration: none;
    line-height: 26px;
    color: white;
    font-family: "Walkway Bold", arial;
    font-size: 26px;
    
}

/* Aqui vai ficar os bombons */

#Page {
    display: flex;

    clear: both;
    width: 100%;
    height: 100%;
}
#Corpo {

	display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /*rid-template-columns: 200px 200px 200px 200px;*/
    width: 100%;
    height: 100%;
    background-color: rgb(26, 107, 104);
}

#CandyBox {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid grey;
    min-width: 70px;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    text-align: center;
}

#CandyBox img {
    width: 200px;
    height: 200px;
}

#qButtons {
    height: 30px;
    display: inline-flex;
    width: 100%;
    float: left;
}

#minusButton {
    line-height: 30px;
    background-color: grey;
    border-radius: 0px 0px 0px 8px;
    border: 1px solid black;
    width: 30%;
}

#minusButton:hover{
    background-color: rgb(44, 44, 44);
    color: white;
}

#middleButton {
    line-height: 30px;
    background-color: grey;
    border: 1px solid black;
    width: 40%;
}

#plusButton {
    line-height: 30px;
    background-color: grey;
    border-radius: 0px 0px 8px 0px;
    border: 1px solid black;
    width: 30%;
}

#plusButton:hover{
    background-color: rgb(44, 44, 44);
    color: white;
}

#Titulo {
    border-bottom: 1px solid grey;
    background-color: grey;
}

/* Barra lateral direita que vai ficar pros pedidos */


#formulário {
    font-family: "Walkway Bold", arial;
    font-size: 15px;
}

#LateralDireito {
    font-family: "Walkway Bold", arial;   
    font-size: 36px;
    text-align: center;
    width: 25%;
    height: 600px;
    background-color: grey;
}

#carro{
    border: 1px solid black;
    background-color: grey;
    font-size: 12px;
    width: 100%;
    min-height: 100%;
    height: 300px;
    margin: 5px;
}

/* Trabalhando o footer */
#footer {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 12px;
    text-align: center;
    background-color: rgb(26, 107, 104);
    width: 100%;
    height: 200px;
}

#footer h4 {
    line-height: 30px;
    font-size: 30px;
    margin-top: 10px;
}

#footer img {

    width: 30px;
}


